body {
	background-color: #FAF8EF;
}
canvas {
	/*background-color: #CCC0B3; */
	background-color: #eeeeee;
	width: 150px;
	border: 0px solid black;
	float: left;
	opacity: 0.5;
	border-radius: 10px;
	margin-top: 7.5px;
	margin-left: 7.5px;
}

canvas.field {
	height: 150px;
}

canvas.inactive {
	background-color: #cccccc;
}

button.btn {
	height: 50px; width: 160px;
	float: left;
	background-color: #9a9a9a;
	border: 0px solid black;
	font-size: 20px;
	font-family: helvetica;
	border-radius: 7px;
	margin-top: 25px;
	margin-left: 160px;
}

button:hover {
	background-color: #7e7e7e;
}

div.row {
	width: 480px;
	margin: 0 auto;
}

div#container {
	width: 100%;
}
div#back {
	width: 480px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #9a9a9a;
	border-radius: 10px;
}
